{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-external-helpers",
    ["@babel/plugin-transform-runtime", {
      "helpers": false,
      "regenerator": true
    }],
    ["@babel/plugin-proposal-object-rest-spread", {"useBuiltIns": true}]
  ]
}
